<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muugi.shortcut.core">

    <!-- 快捷方式开始 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.WRITE_SETTINGS" />


    <application>
        <receiver
            android:name="com.muugi.shortcut.special.AutoCreateBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.shortcut.core.auto_create" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.muugi.shortcut.broadcast.NormalCreateBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.shortcut.core.normal_create" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
